html {
  height: 100%;
  overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Acme', sans-serif;
    height: 100%;
}


.links {
    margin-bottom: 0px;
} 

.links div {
    background-image: linear-gradient(to bottom, #adb3bb, #8c9498, #6f7677, #555958, #3c3d3c);
    display: inline-block;
    width: 25%;
    height: 50px;
    text-align: center;
    vertical-align: middle;
}

.links div:hover {
    opacity: 90%;
}

.barra-preta {
    display: block;
    background-color: black;
    width: 100%;
    height: 5px;
}

.links img {
    width: 35px;
    padding-top: 5px;
}

.links .youtube-icon {
    padding: 10px;
}

.fundo-foto {
    background-image: linear-gradient(to right, #264653, #225b68, #1c7079, #1b8786, #2a9d8f);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.foto {
    border: solid white 3px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
    height: 15%;
    border-radius: 25% 40% 25% 40%;
    transform: rotateZ(-10deg);
    filter:brightness(130%);
    box-shadow: 5px 5px 5px black;
    cursor: pointer;
}

@-webkit-keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes slide-in-blurred-left {
  0% {
    -webkit-transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
            transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    -webkit-transform-origin: 100% 50%;
            transform-origin: 100% 50%;
    -webkit-filter: blur(40px);
            filter: blur(40px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) scaleY(1) scaleX(1);
            transform: translateX(0) scaleY(1) scaleX(1);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*Ainda não funcionando bem em mobiles*/
.sobre-mim {
    display: none;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    color: white;
    margin: 3% auto auto 45%;
}

.sobre-mim p {
    font-size: 150%;
    width: 50%;
}

.sobre-mim h2 {
    font-size: 150%;
    width: 50%;
}


@-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0) rotateZ(-10deg);
              transform: translateX(0) rotateZ(-10deg);
    }
    100% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0) rotateZ(-10deg);
              transform: translateX(0) rotateZ(-10deg);
    }
    100% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
  }

@-webkit-keyframes slide-right {
    0% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
    100% {
      -webkit-transform: translateX(0) rotateZ(-10deg);
              transform: translateX(0) rotateZ(-10deg);
    }
  }
  @keyframes slide-right {
    0% {
      -webkit-transform: translateX(-300px);
              transform: translateX(-300px);
    }
    100% {
      -webkit-transform: translateX(0) rotateZ(-10deg);
              transform: translateX(0) rotateZ(-10deg);
    }
  } 
  
.foto:active {
    box-shadow: none;
    transform: slide-right 0.5s both;
}

h1 {
  color: hsl(0, 0%, 100%);
  letter-spacing: 10px;
  font-weight: bolder;
  font-style: italic;
  font-size: 50px;
  margin: 0px 75px;
  padding: 15px 0px;
}

.desafio-js {
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 300px;
  height: 150px;
  border-radius: 100px;
  margin: 10px 40px;
  box-shadow: 5px 5px 5px black;
  cursor: pointer;
}

.desafio-js:active {
  box-shadow: none;
}

.projetos {
  background-color: #E63946;
  background-image: linear-gradient(to right, #800016, #9e001c, #be0021, #de0026, #ff002b);
  padding: 0px 0px 10px 0px;
  width: 100%;
  height: 100%;
}

.projetos a {
  display: inline-flex;
  width: 300px;
  height: 30px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  border: solid 2px rgb(0, 0, 0);
  border-radius: 30px 30px 30px 30px;
  font-size: 25px;
  color: black;
  background-color: #E9C46A;
  font-weight: 600;
  padding: 5px;
}

.projetos ul {
  display: none;
  flex-direction: column;
  justify-content: baseline;
}

.projetos li {
  list-style-type: none;
  margin-bottom: 10px;
}

.projetos a:hover {
  background-color: #ac8b37;
}